.service{
    .item1,.item2,.item3,.item4 {
      padding: .213333rem .213333rem .266667rem .213333rem;
        .title {
          font-size:.293333rem;
          line-height:.533333rem;
        }
    }
    .item5,.item6,.item7,.item8,.item9,.item10,.item11,.item12,.item13,.item14,.item15,.item16,.item17,.item18,.item19,.item20,.item21,.item22,.item23,.item24,.item25,.item26,.item27 {
      padding: .213333rem .213333rem 0 .213333rem;
        .title {
          font-size:.293333rem;
          line-height:.533333rem;
        }
        .text {
          font-size: .24rem;
          line-height: .5rem;
          margin-top: 0.2rem;
        }
    }
    

}