.experience {
  padding-left: .213333rem;
  padding-right: .213333rem;
}

.experience .name {
  font-size: .293333rem;
  line-height: .746667rem;
}

.experience .item1 {
  padding-bottom: .4rem;
}

.experience .item1 .title {
  font-size: .293333rem;
  line-height: .266667rem;
  font-weight: 700;
  padding-bottom: .066667rem;
}

.experience .item1 .text {
  font-size: .293333rem;
}

.experience .item2 {
  padding-bottom: .266667rem;
}

.experience .item2 .title {
  font-size: .293333rem;
  line-height: .266667rem;
  font-weight: 700;
  padding-bottom: .066667rem;
}

.experience .item2 .list1 .l1 {
  font-size: .293333rem;
}

.experience .item3 {
  padding-bottom: .133333rem;
  display: flex;
}

.experience .item3 .left {
  margin-right: 1rem;
}

.experience .item3 .left .l1 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .left .l1 .le1 {
  display: flex;
  height: 20px;
  background: #D4DBE7;
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .left .l1 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .left .l1 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .left .l1 .le2 {
  line-height: 20px;
  color: #D4DBE7;
}

.experience .item3 .left .l2 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .left .l2 .le1 {
  display: flex;
  height: 20px;
  background: #A4E6BB;
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .left .l2 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .left .l2 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .left .l2 .le2 {
  line-height: 20px;
  color: #A4E6BB;
}

.experience .item3 .left .l3 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .left .l3 .le1 {
  display: flex;
  height: 20px;
  background: #8CCEFB;
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .left .l3 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .left .l3 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .left .l3 .le2 {
  line-height: 20px;
  color: #8CCEFB;
}

.experience .item3 .left .l4 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .left .l4 .le1 {
  display: flex;
  height: 20px;
  background: #BCA6FF;
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .left .l4 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .left .l4 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .left .l4 .le2 {
  line-height: 20px;
  color: #BCA6FF;
}

.experience .item3 .left .l5 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .left .l5 .le1 {
  display: flex;
  height: 20px;
  background: #FFBD7E;
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .left .l5 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .left .l5 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .left .l5 .le2 {
  line-height: 20px;
  color: #FFBD7E;
}

.experience .item3 .right .l6 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .right .l6 .le1 {
  display: flex;
  height: 20px;
  background: linear-gradient(to right, #FFC240, #FEA43E);
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .right .l6 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .right .l6 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .right .l6 .le2 {
  line-height: 20px;
  color: #FFC240;
}

.experience .item3 .right .l7 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .right .l7 .le1 {
  display: flex;
  height: 20px;
  background: linear-gradient(to right, #FFA36F, #FD7A7B);
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .right .l7 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .right .l7 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .right .l7 .le2 {
  line-height: 20px;
  color: #FFA36F;
}

.experience .item3 .right .l8 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .right .l8 .le1 {
  display: flex;
  height: 20px;
  background: linear-gradient(to right, #FF6CC7, #FE6093);
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .right .l8 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .right .l8 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .right .l8 .le2 {
  line-height: 20px;
  color: #FF6CC7;
}

.experience .item3 .right .l9 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .right .l9 .le1 {
  display: flex;
  height: 20px;
  background: linear-gradient(to right, #FE63C4, #C452FC);
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .right .l9 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .right .l9 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .right .l9 .le2 {
  line-height: 20px;
  color: #FE63C4;
}

.experience .item3 .right .l10 {
  display: flex;
  padding-bottom: .266667rem;
}

.experience .item3 .right .l10 .le1 {
  display: flex;
  height: 20px;
  background: linear-gradient(to right, #FB47B2, #7442ED);
  align-items: center;
  padding-left: .133333rem;
  padding-right: .133333rem;
  margin-right: .133333rem;
}

.experience .item3 .right .l10 .le1 .d1 img {
  width: .32rem;
  height: .32rem;
  padding-top: 4px;
}

.experience .item3 .right .l10 .le1 .d2 {
  font-size: .16rem;
  color: #fff;
}

.experience .item3 .right .l10 .le2 {
  line-height: 20px;
  color: #FB47B2;
}

.experience .item4 {
  padding-bottom: .266667rem;
}

.experience .item4 .title {
  font-size: .293333rem;
  line-height: .266667rem;
  font-weight: 700;
  padding-bottom: .066667rem;
}

.experience .item4 .list2 .l1 {
  font-size: .293333rem;
}
