.integral {
    padding-left: .213333rem;
    padding-right: .213333rem;

   

    .item1 {
        padding-bottom: .4rem;
        padding-top: 0.4rem;

        .title {
            font-size:.293333rem;
            line-height: .266667rem;
            font-weight: 600;
            padding-bottom:.133333rem;
        }

        .text {
            font-size: .293333rem;
        }
    }

    .item2 {
        padding-bottom: .266667rem;

        .title {
            font-size:.293333rem;
            line-height: .266667rem;
            font-weight: 600;
            padding-bottom:.133333rem;
        }

        .text {
            font-size: .293333rem;
            padding-bottom: .106667rem;
        }

        

       
    }

    .item3 {
        padding-bottom: .4rem;
        .title {
            font-size: .293333rem;
            line-height: .293333rem;
            font-weight: 600;
            padding-bottom:.133333rem;
        }

        .text1,.text2,.text4 {
            padding-bottom: .106667rem;
            font-size: .293333rem;
        }

      

      
    }
    .item4 {
        padding-bottom: .4rem;
        

        .title {
            font-size:.293333rem;
            line-height: .266667rem;
            font-weight: 600;
            padding-bottom:.133333rem;
        }

        .text1, .text2, .text3, .text4, .text5, .text6{
            font-size: .293333rem;
            padding-bottom: .106667rem;
        }
    }
    .item5{
        font-size: .293333rem;
    }

    
}